.stickysidebar{
	width:80%;
}
.stickysidebar::after{
	display:  table;
	content: "";
	clear:both;
	
}
.stickysidebar .dsocial-media{
	width:100%;
	padding-top: 100px;
	margin: 0 0 40px;
	float: left;
	position: fixed;
}
.stickysidebar .dsocial-media .fab{
	margin:5px;
}