.stickysidebar{
left: -3%;
 position: fixed;
 top: 30%;
}
.stickysidebar::after{
	display:  table;
	content: "";
	clear:both;
	text-decoration: none;
	
	
}
.stickysidebar .dsocial-media{
	text-decoration: none;
	float: left;
	position: fixed;
}
.stickysidebar .dsocial-media .fab{
	margin:5px;
}